<h2>Login</h2>
<!-- @TODO -->
<pre *ngIf="error" class="error">{{ error | json }}</pre>

<form #form="ngForm">
  <!-- Email Input -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      name="email"
      ngModel
      #email="ngModel"
      matInput
      type="email"
      required
      email
    />
    <mat-error *ngIf="email?.errors?.['required']"
      >this field is required</mat-error
    >
    <mat-error *ngIf="email?.errors?.['email']">invalid email</mat-error>
  </mat-form-field>

  <!-- Password Input -->
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      name="password"
      ngModel
      #password="ngModel"
      matInput
      type="password"
      required
    />
    <mat-error *ngIf="password?.errors?.['required']"
      >this field is required</mat-error
    >
  </mat-form-field>

  <div class="actions">
    <button
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      (click)="login(form.value)"
    >
      Login
    </button>
    <a routerLink="../register">Create New Account</a>
  </div>
</form>
