<form>
  <div>
    <input (change)="setImage($event)" #uploadFile type="file" hidden />
    <label for="image">Upload Image</label>
    <div class="image-wrapper">
      <img
        [src]="imageSrc || movie?.image"
        [alt]="movie.name"
        *ngIf="imageSrc || movie?.image; else uploadNewImageTemp"
        class="movie-image"
      />
    </div>
    <ng-template #uploadNewImageTemp>
      <a class="upload image-wrapper" (click)="uploadFile.click()">
        <mat-icon>add</mat-icon>
      </a>
    </ng-template>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput #name="ngModel" name="name" [(ngModel)]="movie.name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      #description="ngModel"
      name="description"
      [(ngModel)]="movie.description"
    ></textarea>
  </mat-form-field>

  <categories-selectors
    (onSelect)="setCategoryId($event)"
  ></categories-selectors>

  <button mat-raised-button color="primary" (click)="submit()">Save</button>
</form>
