<form #form="ngForm">
  <div>
    <input
      (change)="setImage($event)"
      type="file"
      name="image"
      #image="ngModel"
      ngModel
      required
    />
    <mat-error *ngIf="image?.errors?.['required']"
      >this field is required</mat-error
    >
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input
      matInput
      #name="ngModel"
      name="name"
      [(ngModel)]="movie.name"
      required
    />
    <mat-error *ngIf="name?.errors?.['required']"
      >this field is required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      #description="ngModel"
      name="description"
      [(ngModel)]="movie.description"
      required
    ></textarea>
    <mat-error *ngIf="description?.errors?.['required']"
      >this field is required</mat-error
    >
  </mat-form-field>

  <!-- @TODO: use custom form control -->
  <categories-selectors [(category)]="movie.category_id"></categories-selectors>

  <button
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="submit()"
  >
    Save
  </button>
</form>
