<div class="header">
  <categories-selectors
    class="categories"
    (onSelect)="populateMovieByCategory($event)"
  ></categories-selectors>

  <button mat-raised-button color="primary" routerLink="../add-movie">
    Create New Movie
  </button>
</div>
<div class="movies">
  <mat-card *ngFor="let movie of movies$ | async" class="example-card">
    <mat-card-header>
      <mat-card-title>
        <a routerLink="../edit-movie/{{ movie.id }}" class="name">{{
          movie.name
        }}</a></mat-card-title
      >
    </mat-card-header>
    <img
      mat-card-image
      class="movie-image"
      [src]="movie.image"
      [alt]="movie.name"
    />
    <mat-card-content>
      <p class="desc">{{ movie.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
